---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/block-storage/Hero.astro';
import Features from '../components/block-storage/Features.astro';
import Pricing from '../components/block-storage/Pricing.astro';
import CallToAction from '../components/block-storage/CallToAction.astro';
import Breadcrumbs from '../components/SEO/Breadcrumbs.astro';

const breadcrumbs = [
	{ name: 'Home', url: '/' },
	{ name: 'Block Storage', url: '/block-storage' }
];
---

<Layout title="Block Storage">
	<div class="container mx-auto px-4 pt-6">
		<Breadcrumbs items={breadcrumbs} />
	</div>
	<Hero />
	<Features />
	<Pricing />
	<CallToAction />
</Layout>
